.m-footer {
  flex-shrink: 0;
  background-color: var(--footer-background-color);
}

.m-footer__content {
  color: var(--secondary-foreground-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond-to('medium') {
    height: 122px;
    padding: 0 12px;
    max-width: 1140px;
    margin: 0 auto;
  }
}

.m-footer__nav-secondary {
  margin-bottom: 25px;

  .m-secondary-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      @include respond-to('medium') {
        margin: 0 5px;
      }
    }
  }
}

.m-footer-logo {
  margin-right: 40px;
}

.m-footer-social {
  flex: 1;

  a {
    display: inline-block;
    cursor: pointer;
    margin-right: 24px;

    span {
      color: inherit;
      font-size: 1rem;
    }
  }
}


.m-footer-copyright {
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  line-height: 1.7;
  margin-bottom: $mobile-space;

  .link {
    font-size: 12px;
    font-weight: 500;
    margin-top: 23px;

    span {
      margin-left: 24px;
    }
  }

  .footer-txt-pc {
    font-size: 10px;
    color: #8e8787;
    margin-top: 8px;
    text-align: right;
  }

  a {
    text-decoration: none;
  }

  &.jslicense {
    opacity: 0.7;
    margin-bottom: 0;
  }
}


.rtl {
  .m-footer-social {
    direction: ltr;
  }
}
